# files to exclude from git

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C binaries
*.o
*.so
*.a
*.la

# LaTeX intermediaries
*.aux

.Python
env/
build/
dist/
downloads/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
site_packages/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# vim cache files
*.swp
*.swo

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

.tags
.idea

