element {
  alt_fg: #9b9b9b;
  alt_bg: #3c9a9a;
/*
  alt_fg: #fafcf0;
  alt_bg: #008291;
*/
}


font-family: 'Source Code Pro', monospace;
font-family: 'Open Sans', sans-serif;


body {
    font-family: 'Source Code Pro', monospace;
    font-family: 'Open Sans', sans-serif;
}

/*
code, .rst-content tt, .rst-content code {
    font-size: 85%;
    background: #eeeeee;
    font-family: "Menlo", "Monaco", "Consolas", "Liberation Mono","Courier New",'Courier',monospace;
    border: 0;
}

code.ilpy3 {
    background: #edf0f2;
    color: #0e84b5;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    padding: 0 5px;
}
*/

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #9a44a9;
}

code, .rst-content tt, .rst-content code, .rst-content code.xref, .wy-menu-vertical li code {
    font-family: 'Menlo', 'Consolas', 'Source Code Pro', monospace!important;
    border: 1px solid;
    border-radius: 3px;
    padding: 1px 4px;
    background: #e8e8e8;
    color: #3c9a9a;
    white-space: normal;
}


.rst-content a code, .rst-content a code.xref { color: #2980b9; }

/*
 failed attempt to improve appearance of code strings in navigation menu
.wy-nav-side code, .wy-body-for-nav code, .wy-menu-vertical li code {
    background: #a4c3b2;
}
*/


.wy-nav-side {
  color: #9b9b9b;
  background: #3c9a9a;
}

.wy-menu-vertical { color: #05386b; }

a {
 font-weight: bold;
}

.codename {
   font-variant: small-caps;
   font-size: 110%;
   font-variant-numeric: oldstyle-nums;
/*   font-family: 'Playfair Display SC', serif*/
}

.codename span {
   font-variant: small-caps;
   font-size: 110%;
   font-variant-numeric: oldstyle-nums;
/*   font-family: 'Playfair Display SC', serif*/
}

.rst-content .qanda {
    background: #e1bee7';
}

qanda { background: '#e1bee7' !important }

.qanda { background: '#e1bee7' !important }

div.qanda { background: '#e1bee7' !important }

.rst-content .qanda admonition-title:before {
    content: "&f059"; 
}

.qanda admonition-title:before {
    content: "&f059" !important
}

qanda admonition-title:before {
    content: "&f059" !important
}

div.qanda admonition-title:before {
    content: "&f059" !important
}


.rst-content .centered {
    text-align: center
}

.rst-content .fullbar {
    float: center;
    width: 90%;
    display: block;
    margin: 12px 12px 12px 12px;
    padding: 12px;
    background: #f3f6f6;
    border: solid 1px #e1e4e5
}

.wy-side-nav-search { background-color: #daad86; }

.rst-content .sidebar p,
.rst-content .sidebar ul,
.rst-content .sidebar dl {
   font-size: 90%
}

.rst-content .sidebar .last {
    margin-bottom: 0
}

.rst-content .fullbar .sidebar-title {
    display: block;
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
    font-weight: bold;
    background: #e1e4e5;
   padding: 12px 12px;
    margin: -12px;
   margin-bottom: 12px;
    font-size: 100% }

.wy-menu-vertical-header, .wy-menu-vertical p.caption {
 color: #441199;
}

/* customization for 'topic' sections */
div.topic {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 7px 7px 0 7px;
    margin: 10px 0 10px 0;
}

/* pad the vertical space of list items to separate one item from the next */

.wy-plain-list-decimal li, .wy-plain-list-disc, .rst-content .section ul li, .rst-content .section ol li, article ol li {
    margin-bottom: 12px;
}


hr.thick {
  border: 5px solid #3c9a9a;
  border-radius: 5px;
}

/***************************************************/
/* full-width color-bar backgrounds for headers    */
/* (style gleeped from sphinx classic theme)       */
/***************************************************/

h1 {
    color: #3C9A9A;
    font-size: 200%;
    align: center;
    text-align: center;
}

h2 {
    align: center;
    text-align: center;
    border: 2px solid;
    border-color: #441199;
    background-color: #3C9A9A;
    color: #FFFFFF;
    margin: 30px 0px 10px 0px;
    padding: 5px 0 5px 10px;
}

h3 {
    display: inline-block;
/*
    background-color: #3C9A9A;
    color: #FFFFFF;
*/
    color: #3C9A9A;
    background-color: #FFFFFF;
    border-style: dashed;
    border-width: 1;
    border-color: #3C9A9A;

    margin: 30px 0px 10px 0px;
    padding: 5px 0 5px 10px;
}

h4, h5, h6 {
  display: inline;
  background-color: #3C9A9A;
  color: #FFFFFF;
  margin: 30px 0px 10px 0px;
  padding: 5px 0 5px 10px;
}

/****************************************************/
/****************************************************/
/****************************************************/
.rst-content dl:not(.docutils) dt {
    margin: 6px 6px;
    font-size: 110%;
    line-height: normal;
    background: #ffc99d;
    color: #082213;
    padding: 6px;
    position: relative;
    border: 1px dashed;
    border-radius: 3px;
}

/****************************************************/
/****************************************************/
/****************************************************/
.rst-content .code-listing .admonition-title {
    background-color: #FFC99D;
    background-color: #FFC857;
    color:      #000000;
}

.rst-content .code-listing .admonition-title:before {
    content: "\f15C";
}

.rst-content .code-listing {
    background-color: #F0F0F0;
    overflow-x: auto;
}

/****************************************************/
/****************************************************/
/****************************************************/
.rst-content .collapsible .admonition-title {
    background-color: #FFC99D;
    background-color: #D3DBE9;
/*    color:      #000000;*/
}

.rst-content .collapsible .admonition-title:before {
    content: "\f06E";
    color:   #FF00FF;
}

.rst-content .collapsible {
    background-color: #F0F0F0;
    overflow-x: auto;
}

/***************************************************/
/***************************************************/
/***************************************************/
#router-py-listing {
    display: none;
}

.default-hidden {
    display: none;
}

/***************************************************/
/* strike-through text  ****************************/
/***************************************************/
.strike {
  text-decoration: line-through;
}
